streamlit>=1.32.2
pandas>=2.2.1
numpy>=1.26.4
sentence-transformers>=2.5.1
scikit-learn>=1.4.1
PyMuPDF>=1.23.26
spacy>=3.7.4
python-docx>=1.1.0
torchvision
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
